@font-face {
    font-family: "Inter";
    src: url("font/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
    font-family: "Lexend_Deca";
    src: url("font/Lexend_Deca/LexendDeca-VariableFont_wght.ttf");
}

:root {
    --clr-MainBG : hsl(233, 47%, 7%);
    --clr-CardBG : hsl(244, 38%, 16%);
    --clr-Accent : hsl(277, 64%, 61%);

    --fontclr-p : hsla(0, 0%, 100%, 0.75);
    --fontclr-h : hsla(0, 0%, 100%, 0.6);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-MainBG);
    color: white;
    font-family: "Inter", sans-serif;
}

main {
    height: 96vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-component {
    background-color: var(--clr-CardBG);

    display: flex;
    justify-content: center;
    align-items: center;    

    width: 75vw;
    height: 28rem;
    
}

.left-content {
    padding: 4rem 10rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* gap: 2rem; */
    justify-content: space-between;
}

.heading-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-size: 2rem;
}

h1 > span {
    color: var(--clr-Accent);
}

.desc {
    font-size: 1rem;
    color: var(--fontclr-h);
    width: 100%;
    line-height: 1.6rem;
}

.details-container {
    display: flex;
    justify-content: space-between;
}

.details {
    font-family: "Lexend_Deca";
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5rem;
    color: var(--fontclr-h);
}

.details > span {
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.right-content {
    background-color: var(--clr-Accent);
}

img {
    mix-blend-mode: screen;
    
}




